TOKEN_BOT=your_telegram_bot_token_here
API_KEY=your_gemini_api_key_here

POSTGRES_USER=school_bot_user
POSTGRES_PASSWORD=school_bot_password_2025
POSTGRES_DB=school_bot_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
